	
/* CSS Document */
p { font-family:Serif;
color:#461B1B;
font-size:20px;
background-color:rgb(235,236,232,0,3);
 }
h1 {
	font-family: Fantasy;
	color: #461B1B;
}
h2{
	font-family: Fantasy;
	font-size: 35px;
	color:#461B1B
}
h3{font-family: Fantasy;
font-size: 30px;
color:#461B1B}
h4{font-family:Monospace;
color:#E8E7F9;
font-size:25px;}
h5{font-family:Monospace;
color:#E8E7F9;
font-size:20px;
}
h6{ font-family:Serif;
color:#262079;
font-size:20px;
background-color:rgba(235,236,232, 0.5);
padding: 10px;
	margin: 5px;
	width: 6%; }
	
h7{font-family:Serif;
color:white;
font-size:20px;
background-color:rgba(235,236,232, 0.5);
 }
 h8 {font-family:Fantasy;
 color:#461B1B; 
 font-size: 25px;}
body{
background-image: url("3.jpg"); no repeat center fixed;
background-size: cover;
}
.pozadina2{background-image: url(pozadina2.jpg);

a:hover{
	background-color: #84A186;
}
img {
	height: 300px;
}

